# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/


# MCreator workspace
.mcreator/

# Minecraft client/server files (test world, logs, configs, saves)
/run/

# MCreator generator ignores

# MacOS system files
.DS_STORE

# Claude Code project instructions
CLAUDE.md
.claude

/.agents
skills-lock.json
agents.md
