


public-f net.minecraft.client.model.Model renderToBuffer(Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;III)V


# Start of user code block custom ATs
# SkillsScreen places the mutagen and inventory slots on the scaled Skills layout each resize
public-f net.minecraft.world.inventory.Slot x
public-f net.minecraft.world.inventory.Slot y
# End of user code block custom ATs
